<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>
    {% block title %}{% end %} | 留言板
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css"/>
  <link rel="stylesheet" href="static/css/app.css"/>
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="/">留言板</a>
    </h1>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
      {% block active-nav %}
        <li class="am-active"><a href="/">首页</a></li>
        <li><a href="/about">关于</a></li>
      {% end %}
      </ul>
      {% if current_user %}

      <div class="am-topbar-right">
        <p style="margin-top:5px;margin-right:7px;display:inline-block">欢迎&nbsp;&nbsp;<a href="/user/{{ current_user["username"] }}">{{ current_user["username"] }}&nbsp;&nbsp;</a></p>
        <a href="/signout"><button type="button" class="am-btn am-btn-danger am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 退出</button></a>
      </div>
      {% else %}
      <div class="am-topbar-right">
        <a href="/signup"><button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</button></a>
      </div>
      <div class="am-topbar-right">
        <a href="/signin"><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button></a>
      </div>
      {% end %}
    </div>
  </div>
</header>

{% set messages = handler.get_message() %}
{% if messages %}
<div class="am-g am-container">
  <div class="am-u-lg-12">
    <div class="am-alert am-alert-danger" data-am-alert>
    {% for message in messages %}
    <center>{{ message }}</center>
    {% end %}
    </div>
  </div>
</div>
{% end %}

{% block content %}
{% end %}
<div class="am-g am-container">
  <div class="am-u-lg-12">
    <div class="board-block">
      <span>仪表盘：</span>
      <br>
      <span>本站点用户数量：{{ handler.get_user_count() }}</span>
      <br>
      <span>本站点留言数量：{{ handler.get_boards_count() }}</span>
    </div>
  </div>
</div>

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>